[DISCORD]
# The bots discord token.
TOKEN = 

# The owner of the bot.
OWNER = 

# Comma Separated-string of the active Developers of Roast-Bot
ACTIVE.DEVS = 202009333049851904, 390315922369282049

# Adding the ID's of a guild and channel will allow developer commands to be run. (defaults to 0)
DEV_GUILD   = 0
DEV_CHANNEL = 0

[LOGGING]
# Don't edit the format just yet.
ENABLED = true
LOG.FORMAT = [%%(asctime)s] %%(levelname)s: %%(message)s
DATE.FORMAT = %%d-%%b-%%y %%H:%%M:%%S

[SETUP]
# The virtual environment name (defaults to venv)
VENV.NAME = venv

# The runtime will only be applied if the run.py file is executed.
[RUNTIME]
# Headless mode starts the bot as a background script allowing you to close the window. default is True.
HEADLESS = true
DEBUG = true

[HEARTBEAT]
# The path must be an absolute path eg: C:\Users\admin\Desktop
# If the path is undefined it'll default to the root folder (where run.py and setup.py is located)
PATH     =
# The Filename is used to determine what the heartbeat file starts with (defaults to roast)
FILENAME = roast

# Interval between updates in minutes (default is 5)
INTERVAL = 5